<!doctype html>
<html>
	<head>
		<title>Umbrella App</title>
	</head>

	<body>
		<h1>Hello weather bug!</h1>
        <h2>Should you bring an umbrella out or not?</h2>
        <img src='static/bug.png' alt="icon"><br>
        <form action='/getlocation'>
            zip:
            <input type='text' name='zip'><br><br>
            -OR-<br><br>
            city: 
            <input type='text' name='city'>
            state abbreviation:
            <input type='text' name='state'> <br><br>
            <input type='submit'>
        </form>

   </body>

</html>